.edit-pet-form {
  margin-top: 10px;
  padding: 15px;
  border-radius: 5px;
  /* border: 1px solid rgba(0, 0, 0, 0.459); */
  background: rgb(255, 229, 190);
  opacity: 0.8;
}

.edit-pet-title {
  margin-top: 7px;
  font-size: 14px;
  font-weight: 700;
  background: inherit;
  opacity: 0.8;
}

.edit-pet-submit {
  margin-top: 25px;
  margin-left: auto;
  width: 60%;
  margin-right: 55px;
  height: 35px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background: rgba(108, 204, 52, 0.801);
  
  border-radius: 5px;
  border: 1px solid #E1E3DF;
}

.edit-pet-submit:hover {
  background: rgba(108, 204, 52, 1);
  cursor: pointer;
  transition: 0.5s;
}

.edit-pet-submit:focus {
  outline: none;
}

.edit-pet-input-field {
  width: 50%;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #E1E3DF;
}

.edit-pet-input-field[type=text] {
  padding: 15px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 12px;
  opacity: 0.9;
}

.edit-pet-input-field[type=number] {
  padding: 15px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 12px;
  opacity: 0.9;
}

.edit-pet-input-field::placeholder {
  padding: 15px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 12px;
  opacity: 0.6;
}



.edit-pet-input-field:hover {
  border-color: rgb(187, 187, 187);
  transition: 0.8s;
}

.edit-pet-input-field:focus {
  border-color: black;
  outline: none;
}